@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s linear;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
}

*::selection {
    background: #fff;
    color: #333;
}

body {
    height: 80%;
    background: #222;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*nav */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding: 1.4rem 1rem;
    background-color: #000000b5;
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 3px rgb(254 116 62);
}

.logo {
    font-size: 1.3rem;
    font-weight: 600;
}

.logo a {
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

li {
    padding: 0rem 1.1rem;
}

li a {
    color: #e96d3f;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
    position: relative;
}

ul li a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scale(0, 1);
    transition: transform .3s ease;
}

ul li a:hover::before,
li a.active::before {
    transform: scale(1, 1);
}

li a.active,
li a:hover {
    color: #fff;
    transition: all .3s ease-in-out;
}

:root {
    --gradient: linear-gradient(90deg, #e96d3f, #e96d3f);
}

section {
    padding: 0 7%;
}

.btn {
    padding: .6rem 3rem;
    font-size: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    background: var(--gradient);
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: #333;
}

.contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8.5rem;
    padding-bottom: 4rem;
}

.contact form {
    flex: 1 1 30rem;
    background: #444;
    padding: 3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.contact form .box {
    height: 5rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: .1rem solid #ccc;
    font-size: 2rem;
    margin: 1rem 0;
    color: #fff;
}

.contact form textarea {
    height: 15rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: .1rem solid #ccc;
    font-size: 2rem;
    margin: 1rem 0;
    color: #fff;
    resize: none;
}

.contact form .box::placeholder,
.contact form textarea::placeholder {
    text-transform: capitalize;
}

.contact form .box:focus,
.contact form textarea:focus {
    border-color: #637CBB;
}

.contact form .btn {
    width: 100%;
}

.contact .content {
    flex: 1 1 40rem;
    padding: 4rem;
}

.contact .content h3 {
    font-size: 4rem;
    color: #fff;
}

.contact .content p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.contact .content .icons {
    display: flex;
    align-items: center;
}

.contact .content .icons p {
    font-size: 2rem;
    color: #fff;
}

.contact .content .icons i {
    font-size: 2rem;
    color: #637CBB;
    padding-right: 1rem;
}

/* Responsive */
@media (max-width: 1024px) {
    nav {
        max-width: 98%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }

    nav {
        max-width: 100%;
    }

    .contact .content {
        padding: 2rem;
    }

    .contact form {
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 85%;
    }

    nav {
        flex-direction: column;
    }

    li {
        padding: 1rem 0;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }

    ul {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 4rem;
        left: -100%;
        background-color: #000000b5;
        backdrop-filter: blur(10px);
        flex-direction: column;
        text-align: center;
    }

    #click:checked ~ ul {
        left: 0;
        transition: all 0.3s ease;
    }
}
